# phidata >>> agno
agno
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
google-generativeai
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
ollama
praisonai
opencv-python
moviepy
crewai
crewai-tools
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-api
flask[async]
flask
flask-cors
langchain-core
langchain-chroma
langchain-community
langchain-groq
langchain-ollama
langchain-openai
langserve
langgraph
pdfplumber
pydantic
beautifulsoup4
wikipedia
unstructured