phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
google-generativeai
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
ollama
praisonai
opencv-python
moviepy
crewai
crewai-tools
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-api
flask[async]
flask
flask-cors